/* ========================================
   Layout & Background Effects
   ======================================== */

.dots {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at center,
    var(--muted) 2px,
    transparent 2px
  );
  background-size: 30px 30px;
  background-position: 12px 12px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 1;
}

.bottom-gradient {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 900px;
  margin-bottom: -500px;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  --top: var(--bottom-gradient);
  --bottom: var(--bottom-gradient);
  --first: conic-gradient(from 90deg at 0% 50%, var(--top), var(--bottom));
  --second: conic-gradient(from 270deg at 100% 50%, var(--bottom), var(--top));
  mask-image: radial-gradient(
    closest-side at 50% 50%,
    var(--background),
    transparent
  );
  background-image: var(--first), var(--second);
  background-position-x: 0%, 100%;
  background-position-y: 100%, 0%;
  background-repeat: no-repeat;
  opacity: 0.4;
  transform: translateY(-300px) translateZ(0px);
  transform-origin: center center;
  animation: gradient 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.content {
  margin: 120px 12px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.content header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.content header h2 {
  font-size: 20px;
  font-weight: 400;
}

.features {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  text-wrap: pretty;
}

/* Layout - Mobile */
@media only screen and (max-width: 1023px) {
  .content {
    margin: 60px 12px;
    gap: 40px;
  }
  .features {
    grid-template-columns: 1fr;
  }
  .bottom-gradient {
    width: 150%;
    height: 800px;
    margin-bottom: -400px;
  }
}

