/* ========================================
   Button Component
   ======================================== */

.button {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;
  padding: 11px 16px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition:
    scale 0.2s,
    filter 0.2s;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  scale: 0.97;
}

.back-button {
  position: fixed;
  top: 32px;
  left: 32px;
  color: var(--primary-contrast);
  background-color: var(--surface);
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  backdrop-filter: blur(10px);
  z-index: 1;
}

/* Button - Mobile */
@media only screen and (max-width: 1023px) {
  .back-button {
    top: 10px;
    left: 10px;
  }
}

