/* ========================================
   Card Component
   ======================================== */

.card {
  position: relative;
  border-radius: 24px;
  background: var(--surface);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  max-width: 300px;
  text-decoration: none;
  color: var(--primary-contrast);
  animation: slideUp 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card:active {
  scale: 0.97;
}

.card h2 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 300;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-contrast);
}

.card p a {
  color: var(--primary-contrast);
  text-decoration: none;
  text-underline-offset: 2px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1px;
  background: linear-gradient(var(--border), transparent 30%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.card:not(:first-child)::after {
  content: "";
  top: 0;
  height: 100%;
  background: var(--surface);
  position: absolute;
  pointer-events: none;
}

/* Card - Mobile */
@media only screen and (max-width: 1023px) {
  .card {
    padding: 20px;
  }
  .card h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.4px;
  }
}

